@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	max-width: 100%;
	height: auto;
	font-family: 'Inika', serif;
	/* font-family: 'Inter', sans-serif; */
	font-size: 16px;
}

.header {
	background: #EDF2EC;
	width: 100%;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 42px 111px;
}

.header__logo {
	width: 79px;
	height: 21px;
}

.header__logo-link {
	color: black;
	line-height: 20px;
	text-decoration: none;
}

.nav {
	max-width: 452px;
	/* height: 50px; */
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
}

.nav__item {
	margin-right: 46px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	font-size: 16px;
	line-height: 50px;
	color: #010201;
	text-decoration: none;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
	color: #E06733;
}

/* header end */
/* main start */
.main {
	background: #EDF2EC;
	width: 100%;
}

.welcome__title {
	padding: 62px 0 62px 0;
	margin-left: 109px;
	max-width: 1222px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.welcome__img {
	max-width: 449px;
}

.welcome__img img {
	max-width: 449px;
	max-height: 407px;
	border-radius: 0px;

}

.welcome__content {
	margin: 34px 0 34px 224px;
	max-width: 549px;
	height: 340px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
	color: #717171;
}

h2 {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #E06733;
}

h3 {
	padding-top: 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
}

span {
	color: #499A18;
}

.welcome__text {
	max-width: 525px;
}

p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #636060;
}

.welcome__button {
	max-width: 158px;
}

.btn_content {
	border: 2px solid #E06733;
	border-radius: 10px;
	padding: 14px 27px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
	white-space: nowrap;
}

.btn_content:hover,
.btn_content:focus,
.btn_content:active {
	border-radius: 20px;
	background-color: #E06733;
	color: #FFFFFF;
	transition: 2s;
}

/* welcome end */
/* about start */

.about {
	background: #FFFFFF;
	width: 100%;
}

.about_section {
	margin: 94px 109px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	max-width: 1222px;
}

.about__text {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 605px;
}

.text__wrapper {
	max-width: 463px;
}

.about__text p {
	margin-top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #636060;
}

.about__img {
	max-width: 464px;

}

/* about end */
/* service start */

.service {
	background: #EDF2EC;
	width: 100%;
}

.service__section {
	max-width: 1440px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.service__content {
	max-width: 1007px;
	margin: 40px 109px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}

.service__text {
	max-width: 306px;
}

.service__btns {
	margin-left: 105px;
	max-width: 596px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.btn__item {
	margin-left: 38px;
	max-width: 161px;
	border: 1px solid #E06733;
	border-radius: 5px;
	padding: 12px 40px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #E06733;

}

.btn__item:last-child {
	margin-right: 0px;

}

.btn__item:hover,
.btn__item:focus,
.btn__item:active {
	border-radius: 20px;
	background-color: #E06733;
	color: #FFFFFF;
	transition: 2s;
}

.services__container {
	max-width: 1222px;
	height: 955px;
	margin: 81px 109px 121px 109px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;

}

.service__item {
	max-width: 330px;
	text-align: center;
}

.service__item:nth-child(2) {
	margin: 0 116px 0 116px;
}

.service__item:nth-child(5) {
	margin: 0 116px 0 116px;
}

.service__item p {
	padding-top: 10px;
	margin-bottom: 36px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

.service__item img {
	vertical-align: middle;
}

.rectangle {
	max-width: 330px;
	border: 1px solid #E3E1D5;
	border-radius: 0px 0px 20px 20px;
}

/* service end */
/* prices start */
.prices {
	background: #FFFFFF;
	width: 100%;
}

.prices__section {
	max-width: 1440px;

}

.praces__wrapper {
	margin: 40px 109px 115px 109px;
	max-width: 1222px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.prices__menu {
	max-width: 332px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.prices__menu h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}

.price__menu__options {
	max-width: 332px;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;


}

.option__price {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;


}

.field-group-label {
	padding: 16px 110px 16px 40px;
	max-width: 100px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	white-space: nowrap;
}

.input__choice {
	max-width: 250px;
	a display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 32px 41px 0 41px;
	background: #EDF2EC;
	border-radius: 20px;
}

.input__choice:last-child {
	margin: 32px 41px 34px 41px
}

#choice1 {
	margin-right: 40px;
	background: transparent url(../plants/img/ellipce_input.svg)no-repeat;
	border: 0;
	background-size: 16px;
}

#choice2 {
	margin-right: 40px;
	background: transparent url(../plants/img/ellipce_input.svg)no-repeat;
	border: 0;
	background-size: 16px;
}

#choice3 {
	margin-right: 40px;
	background: transparent url(../plants/img/ellipce_input.svg)no-repeat;
	border: 0;
	background-size: 16px;
}

.prices__contactus {
	max-width: 452px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
}

.prices__text h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: right;
	color: #000000;
}

.prices__text h2 span {
	color: #499A18;
}

.prices__btn {
	margin: 38px 0 39px 0;
}

.btn__pricecontacts {
	padding: 12px 34px 12px 30px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #E06733;
	border: 1px solid #E06733;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.btn__pricecontacts:hover,
.btn__pricecontacts:focus,
.btn__pricecontacts:active {
	border-radius: 20px;
	background-color: #E06733;
	color: #FFFFFF;
	transition: 2s;
}

.prices__img {
	max-width: 152px
}

/* prices end */
/* contacts start */
.contacts {
	background: #EDF2EC;
	width: 100%;
}

.contacts__section {
	max-width: 1440px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact__woman {
	margin: 53px 0 0 109px;
	max-width: 400px;
}

.contact__woman img {
	width: 400px;
	height: 497px;
}

.contact__us {
	margin: 60px 0 0 113px;
}

.contact__us h2 {

	max-width: 195px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
}

.contacts__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 148px 109px 0 64px;
	width: 450px;
	height: 50px;
	background: #D6E7D2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px;
}

.select__city {
	padding: 0px 175px 0px 20px;
	width: 204px;
	height: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #717171;
}

.select__city__value {
	margin-right: 35px;
	background: transparent url(..//plants/img/accordion_btn.svg) no-repeat right center;
	background-size: 16px;
	border: 0;
}