@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	max-width: 1440px;
	font-family: 'Inika', serif;
	/* font-family: 'Inter', sans-serif; */
	font-size: 16px;
}

.header {
	max-width: 1440px;
	background: #EDF2EC;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 42px 111px;
}

.header__logo {
	width: 79px;
	height: 21px;
}

.header__logo-link {
	color: black;
	line-height: 20px;
	text-decoration: none;
}

.nav {
	max-width: 452px;
	/* height: 50px; */
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
}

.nav__item {
	margin-right: 46px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	font-size: 16px;
	line-height: 50px;
	color: #010201;
	text-decoration: none;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
	color: #E06733;
}

/* header end */
/* main start */
.main {
	background: #EDF2EC;
	width: 100%;
}

.welcome__title {
	margin-top: 134px;
	margin-left: 109px;
	max-width: 1221.8px;
	/* height: 407.36px; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.welcome__img {
	max-width: 449px;
}

.welcome__content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 549px;
	height: 340px;
}

.welcome__maintext {
	max-width: 549px;


}

h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
	color: #717171;
}

h2 {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #E06733;
}

span {
	color: #499A18;
}

.welcome__text {
	max-width: 525px;
}

p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #636060;
}

.welcome__button {
	max-width: 158px;
}

.btn_content {
	border: 2px solid #E06733;
	border-radius: 10px;
	padding: 14px 27px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
	white-space: nowrap;
}

.btn_content:hover,
.btn_content:focus,
.btn_content:active {
	border-radius: 20px;
	background-color: #E06733;
	color: #FFFFFF;
	transition: 2s;
}

/* welcome end */
/* about start */

.about {
	background: #FFFFFF;
	width: 100%;
}

.about_section {
	margin: 94px 109px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	max-width: 1222px;
}

.about__text {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 605px;
}

.text__wrapper {
	max-width: 463px;
}

.about__text p {
	margin-top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #636060;
}

.about__img {
	max-width: 464px;

}

/* about end */
/* service start */

.service {
	background: #EDF2EC;
	width: 100%;
}

.service__section {
max-width: 1440px;
display: flex;
flex-wrap: wrap;
align-items: center;

}

.service__content{
max-width: 1007px;
margin:40px 109px;
display: flex;
flex-wrap: wrap;
align-items: center;

}

.service__text {
	max-width: 306px;
}

.service__btns {
	margin-left:105px;
	max-width: 596px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.btn__item{
margin-left: 38px;
max-width: 161px;
border: 1px solid #E06733;
border-radius: 5px;
padding: 12px 40px;
font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color:#E06733;

}

.btn__item:last-child {
margin-right: 0px;

}

.btn__item:hover,
.btn__item:focus,
.btn__item:active {
	border-radius: 20px;
	background-color: #E06733;
	color: #FFFFFF;
	transition: 2s;
}

.services__container {

}

.service__item {


}